<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="iceStone <ice@wedn.net>">
    <title>首页</title>
    <!--小图标-->
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/goTop.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
<!-- 导航 -->
<nav class="navbar navbar-default vivioNav">
    <div class="container">
        <div class="navbar-header">
            {#      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  aria-expanded="false">#}
            {#        <span class="sr-only">Toggle navigation</span>#}
            {#        <span class="vivio-icon-bt vivio-icon-bar"></span>#}
            {#        <span class="vivio-icon-bt vivio-icon-close"></span>#}
            {#      </button>#}
            <a id="vivio-navbar-brand" href="/"></a>
            <a id="newVersion" href="/">北邮知识图谱信任评估系统</a>
        </div>
        <div class="collapse navbar-collapse" id="vivio-navbar-collapse">
            <ul class="nav navbar-nav vivio-navbar-nav">
                <li class="active"><a href="/" style="color:#000000">首页 <span class="sr-only">(current)</span></a></li>
                <li id="vivio-product-link">
                    <a style="color:#000000">核心产品</a>
                    <!-- 产品下拉导航菜单 -->
                    <div class="vivio-product">
                        <div class="vivio-container clearfix">
                            <dl>
                                <dt>知识图谱</dt>
                                <dt>语义理解</dt>
                                <dt>智能问答</dt>
                            </dl>
                            <dl>
                                <dt>产品1</dt>
                                <dt>产品2</dt>
                                <dt>产品3</dt>
                            </dl>
                        </div>
                    </div>
                    <!-- /产品下拉导航菜单 -->
                </li>
                <li id="vivio-product-link">
                    <a style="color:#000000">解决方案</a>
                    <div class="vivio-product">
                        <div class="vivio-container clearfix">
                            <dl>
                                <dt>知识抽取技术</dt>
                            </dl>
                            <dl>
                                <dt>中文分词技术</dt>
                            </dl>
                            <dl>
                                <dt>表示学习技术</dt>
                            </dl>
                            <dl>
                                <dt>信任评估算法</dt>
                            </dl>
                        </div>
                    </div>
                </li>
                <li id="vivio-product-link">
                    <a style="color:#000000">演示中心</a>
                    <div class="vivio-product">
                        <div class="vivio-container clearfix">
                            <dl>
                                <dt><a href="/search">实体属性查询</a></dt>
                                <dt><a >歧义关系查询</a></dt>
                                <dt><a href="/answer">智能问答系统</a></dt>
                            </dl>

                            <dl>
                                <dt><a href="/path">路径搜索模型</a></dt>
                                <dt><a >关系纠错与补全模型</a></dt>
                                <dt><a >信任评估模型</a></dt>
                            </dl>
                            <dl>
                                <dt><a href="/demo">DEMO3</a></dt>
                            </dl>
                        </div>
                    </div>
                </li>
                <li><a href="#" style="color:#000000">图谱动态</a></li>
                <li><a href="#" style="color:#000000">关于我们</a></li>
            </ul>
            {#      <ul class="nav navbar-nav navbar-right hidden-xs">#}
            {#        <li class="nav-t-kefu"><span class="vivio-icon"></span><em>在线客服</em></li>#}
            {#          <li class="nav-t-search"><span class="vivio-icon "></span><em>在线客服</em></li>#}
            {#        <li class="nav-t-userInformation"><span class="vivio-icon"></span></li>#}
            {#      </ul>#}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- /导航 -->


<!-- 轮播图 -->
<div id="carousel-vivio-generic" class="carousel slide" data-ride="carousel">
    <!-- 点指示器 -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-vivio-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-vivio-generic" data-slide-to="1"></li>
        <li data-target="#carousel-vivio-generic" data-slide-to="2"></li>
        <li data-target="#carousel-vivio-generic" data-slide-to="3"></li>
        <li data-target="#carousel-vivio-generic" data-slide-to="4"></li>
        {#    <li data-target="#carousel-vivio-generic" data-slide-to="3"></li>#}
    </ol>

    <!-- 轮播项 -->
    <div class="carousel-inner" role="listbox">
        <div class="item vivo-x9slive active">
        </div>
        <div class="item vivo-h-stage">
        </div>
        <div class="item vivo-x9pyy">
        </div>
        <div class="item trust-model">
        </div>
        <div class="item entity-ambiguous">
        </div>
        {#        <div class="item fourth">#}
        {#        </div>#}
    </div>
</div>
<!-- /轮播图 -->

<main>
</main>

<!-- 尾部 -->
<footer>
    <div class="row">
        <img src="../static/img/logo.png" height="50" width="50">
    </div>
    <div class="row shareLink">
        <a href="#" class="share-weibo"><b></b></a>
        <a href="" class="share-wechact"><b></b></a>
        <a href="" class="share-tieba"><b></b></a>
        <a href="" class="share-buluo"><b></b></a>
        <a href="" class="share-kefu"><b></b>技术文档</a>
    </div>
    <div class="row siteLinks">
        <a href="">北京邮电大学</a>
        <a href="">neo4j </a>
        <a href="">百度知识谱图 </a>
        <a href="">开发者平台</a>
        <a href="">网站地图</a>
        <a href="">免责声明</a>
        <a href="" id="footerEnglish">English <span></span></a>
    </div>
    <div class="row copyRight">
        <p>COPYRIGHT © 2018-2019 <br>ALL RIGHTS RESERVED. <a href="#" title="北京邮电大学知识图谱可信评估平台" target="_blank">北京邮电大学知识图谱可信评估平台
            <img src="../static/img/gssw-icon-x2.png" alt=""></a></p>
    </div>
</footer>
<!-- /尾部 -->


<!-- 回到顶部 -->
<div class="top">
    <a href=""></a>
</div>
<!-- /回到顶部 -->
<script src="../static/lib/jquery/jquery.js"></script>
<script src="../static/lib/bootstrap/js/bootstrap.js"></script>
<script src="../static/js/nav.js"></script>
<script src="../static/js/goTop.js"></script>
<script src="../static/js/main.js"></script>
</body>

</html>
